[solution]Solution1a_WeightIncreasing.ipynb
[solution]Solution1b_WeightIncreasing.ipynb
[solution]Solution2_BetteActivationFunction.ipynb
[solution]Solution3_BetterOptimizer.ipynb
[solution]Solution4a_NormalizationInsideNetwork.ipynb
[solution]Solution5_SkipConnection.ipynb
[solution]Solution6_TrainSomeLayers.ipynb
[solution]Solution4b_NormalizationInsideNetwork.ipynb
data
